@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

h1 {
	margin:0px;
	padding:0px;
	
	a {
		font-weight:bold;
		font-size: 1.071 em !important;		
	}
}

#map {
	height: 100%;
	width: 100%;
	overflow:hidden;
}



