@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* custom bootstrap styles */


.navbar-brand {
	font-weight:bold;
	font-size: 0.625em;	
	&:hover {
        color:#9f3a3a !important;
    }
}

.navbar-nav {
	margin-top:10px !important;
}

.navbar-nav > li > a {
	line-height:0px !important;
}


/* app styles */

body { 
	padding-top: 50px;
	color: #6b6b6b; 
}

h1 {
	margin:0px;
	padding:0px;
}

#map {	
	height: 100%;
	width: 100%;
	overflow:hidden;
}

$signinupBg-color: #d0d0d0;

.signinup:hover {
	background-color: $signinupBg-color;
}

.nav-item-left-border {
	border: 1px solid #ccc;		
	-moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;                 	
}

.nav-item-right-border {	                
	border-right:1px solid #ccc;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	-moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.page-title {
	background-color:#9f3a3a; 	
	
	h2 {	
		color:white;
		display: inline;
    	font-size: 1.143em;
    	line-height: 50px;
    	font-weight:bold;
    	margin-left:15px;
	}
}

.register-content {	
	padding-top:50px;
	
	.register-form {
		padding-right:15px;
	}
	
	.register-text {
		line-height: 1.8;
		border-left:1px solid #e7e7e7;
		margin-top:20px;		
		
		p {
			margin-top:-8px; 
			margin-bottom:-5px;
			margin-left:15px;
		}											
		
	}	
}


