@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* custom bootstrap styles */


.navbar-brand {
	font-weight:bold;
	font-size: 0.625em;	
	&:hover {
        color:#9f3a3a !important;
    }
}


/* app styles */

h1 {
	margin:0px;
	padding:0px;
}

#map {
	background-color:red;
	height: 100%;
	width: 100%;
	overflow:hidden;
}



